<div class="weather_container" style="display: flex; align-items: center; flex-direction: column;">
  <div style="display: flex; gap: .5rem; align-items: center;">
    <div class="icon"><img src="http://openweathermap.org/img/w/{{ data.icon }}.png" alt="weather_icon"></div>
    <b class="temperature">{{ data.temp }} °C</b>
  </div>
  <div class="city">{{ data.city }}</div>
</div>
